<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      The ultimate blog website || All in one blog in single website
    </title>
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon" />
  </head>
  <body>
    <nav class="navbar">
      <div class="menu-logo">
        <a href="/"><img class="logo" src="./img/logo.png" alt="Logo" /></a>
        <ul class="navbar-ul">
          <li class="navbar-li"><a href="/">Home</a></li>
          <li class="navbar-li"><a href="#">Blogs</a></li>
          <li class="navbar-li"><a href="#">Contact</a></li>
          <li class="navbar-li"><a href="#">About</a></li>
        </ul>
      </div>
      <div class="user-nav">
        <div class="user">
          <img class="user-img" src="/" onerror="errimg()" />
          <i class="fa-solid fa-bars-staggered"></i>
        </div>
      </div>
    </nav>
  </body>
</html>
