<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add blog</title>
    <link rel="stylesheet" href="/css/editblog.css" />
  </head>
  <body>
    <h1>Add Blog</h1>
    <form action="/addblog" method="post" class="container">
      <label>
        Blog Heading
        <input type="text" placeholder="Blog Heading" name="heading" />
      </label>
      <label>
        Small Blog
        <input type="text" placeholder="Small Heading" name="smallHeading" />
      </label>
      <label>
        Img URL
        <input type="text" placeholder="Image URL" name="img" />
      </label>
      <label>
        Blog
        <textarea value="hoga" name="blog" cols="10" rows="30"></textarea>
      </label>
      <button type="submit">Add Blog</button>
    </form>
  </body>
</html>
